
*{
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
    margin: 0;
    padding: 0;
}


.class-title-container{
    background: #bbd407;
    height: 3rem;
    font-size: 26pt;
    text-align: center;
    color: #F7F5E6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px lightgrey;
}

.class-body-container{
    background: #f8f8f8;
    margin-top: 3rem;
    font-size: 14pt;
    color: #3F4F75;
}

.class-sidebar-container{
    background: #f8f8f8;
    border: 1px #e4e4e4 solid;
    position: fixed;
    z-index: 999;
    width: 18rem;
    height: 100%;
    text-align: left;
    padding: 1rem 1rem;
    margin-left: 2rem;
    box-shadow: 2px 2px 5px lightgrey;

    
}
.class-tabs-container{
    /* padding: 1rem 1rem; */
    position: fixed;
    z-index: 999;
    background: #f8f8f8;
    border-style: none none ridge none;
    border-color: rgb(200,200, 200);
    width: 100%;
    /* margin: 1rem */
}
.class-button{
    position: fixed;
    z-index: 999;
    top: 3.5rem;
    right: 0;
}

.hour_rangeslider-container{
    padding: 1rem 1rem;

}
.class-main-container{
    margin-left: 20rem;
    

}

.class-hour-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    width     : 100%;
    margin: 1rem;
    padding: 1rem 1rem;


}

.class-weekday-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    width     : 100%;
    margin: 1rem;
    padding: 1rem 1rem;

}

.class-map-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    margin: 1rem;
    padding: 1rem 1rem;
    height:100%;
    width     : 100%;
    position:relative;
    display:flex;
    flex-flow:column wrap;

}

.class-topstations-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    margin: 1rem;
    padding: 1rem 1rem;


}

.class-zones-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    margin: 1rem;
    padding: 1rem 1rem;


}

.class-heatmap-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    margin: 1rem;
    padding: 1rem 1rem;
    margin-top: 4rem;


}

.class-weekn-container{
    background: #ffffff;
    border: 1px #e4e4e4 solid;
    margin: 1rem;
    padding: 1rem 1rem;

}


.class-requestbyhour{
    width     : 650px;
}

.class-requestbyyear{
    width     : 650px;
}
.class-ds4a_image{
    float: bottom;
    /* z-index: 999; */ 
    bottom: 0;

}